#logo {
    max-width: 20%;
}

header {
    padding: 1em;
    background-color: rgb(239, 51, 76);
    display: flex;
    max-height: 35vh;
}

body {
    text-align: center;
    font-family: Ropa Sans,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    color: white;
    margin: auto;
    font-family: Gochi Hand, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    height: 180vh;
    background-image: url('../images/footage.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.content {
    margin: auto;
    width: 100%;
    max-height: 100%;
}

.statement {
    font-size: 2em;
    color: rgb(239, 51, 76);
    text-shadow: 4px 4px #00000085;
    font-family: Bangers, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.name {
    display: flex;
    width: 100%;
}

.name-letter {
    margin: auto;
    cursor: pointer;
    font-size: 7em;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: 5px 5px #ff0000;
    font-family: Luckiest Guy, Bebas Neue, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 .name-letter{
    text-shadow: 2px 2px #ff0000;
}

#h {
    color: violet;
}

#a1 {
    color: yellow;
}

#n {
    color: lightskyblue;
}

#a2 {
    color: midnightblue;
}

.name-letter:hover {
    color: red;
}

#animated-heart {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100005;
    width: 80%;
    padding: 20px;
    animation-duration: 3s;
    animation-delay: 0.2s;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.card {
    padding: 2em;
    margin: auto;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.43);
    border-radius: 0.5em;
    animation-duration: 0.5s;
}

.img-header {
    max-height: 30vw;
    max-width: 30vw;
    margin: auto;
    padding-bottom: 1em;
}

h2 {
    animation-iteration-count: infinite;
    font-family: Indie Flower, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.slider {
    margin-top: 1em;
    width: 100%;
}

.nav-button {
    margin-right: 10%;
    margin-left: 10%;
    padding: 1em;
}

.nav-button {
	display: inline-block;
	padding: 10px 14px;
	color: #FFF;
	border: 1px solid #FFF;
	text-decoration: none;
	font-size: 14px;
	line-height: 120%;
	background-color: rgba(255,255,255, 0);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: background-color 300ms ease;
	-moz-transition: background-color 300ms ease;
	transition: background-color 300ms ease;
	cursor: pointer;
}

.nav-button:hover {
	background-color: rgba(255,255,255, 0.3);
	color: #FFF;
}

.nav-button.return {
    color: red;
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.199);
}

.story {
    color: rgb(239, 51, 76);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 2.5em;
    font-family: Trade Winds, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-image {
    width: 100%;
    max-height: 120vh;
}

div.comment {
    font-size: 0.5em;
    font-family: Traditional Arabic, 'Times New Roman', Times, serif;
    color: red;
    -webkit-text-stroke-width: 0px;
}

.img-holder {
    width: 100%;
}

#doctor-vector {
    max-height: 30vh;
    max-width: 15vh;
    animation-iteration-count: infinite;
}

#click-here {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 30vw;
    height: 30vw;
    z-index: 1000;
    cursor: pointer;
    animation-iteration-count: infinite;
}

#baby {
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.memories {
    font-family: Concert One, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5em;
    color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#message {
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.character {
    font-family: Bebas Neue, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5em;
    color: lightskyblue;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.snackbar {
    visibility: visible;
    position: fixed;
    bottom: 20px;
    left: 10px;
    text-align: center;
    border-radius: 5px;
    padding: 17px;
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 3.5s;
    animation: fadein 0.5s, fadeout 0.5s 3.5s;
}

.snackbar.hidden {
    visibility: hidden;
}



/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
  
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@media screen and (max-width:450px) {

    .name {
        display: block;
    }

    .img-header {
        max-height: 100vw;
        max-width: 100%;
    }

    h2 {
        font-size: 1.24em;
    }

    h2 .name-letter {
        font-size: 1.8em;
    }

    .card {
        padding: 0.25em;
    }

}

@media screen and (min-width:450px) {

    h2 {
        font-size: 2em;
    }

    h2 .name-letter {
        font-size: 2em;
    }

    iframe.video {
        height: 400px;
    }

}